<div class="col-12 flag-container" data-name="{{name}}">
    <div class="info-box">
        <img src="{{flag}}" class="img-fluid" alt="{{name}} flag">
        <br><br><h2>{{name}}</h2>
        <p>Capital: {{capital}}</p>
        <p>Population: {{population}}</p>
        <h4>Languages Spoken:</h4><br>
        {{#each languages}}
            <p>{{name}}</p>
        {{/each}}
    </div>
</div>